__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Created by storage.py during the workshop
workshop.db

# zensical build output and cache
site/
.cache/
node_modules

# marp build output
slides/slides.html
slides/slides.pdf
